In [1]:
import pandas as pd
import matplotlib.pyplot as plt


file_path = "MORTGAGE30US.csv"
file_path2 = "CORESTICKM159SFRBATL.csv"
file_path3 ="UNRATE.csv"
file_path4="TXUR.csv"
file_path5="AMERIBOR.csv"
file_cal_unem="CAUR.csv"
file_mi_un ="MIUR.csv"
file_interest="DFF.csv"

interest_df = pd.read_csv(file_interest)
mi_un_df = pd.read_csv(file_mi_un)
cal_un_df = pd.read_csv(file_cal_unem)
df = pd.read_csv(file_path)
inflation = pd.read_csv(file_path2)
unemployment = pd.read_csv(file_path3)
unemployment
inflate = pd.read_csv(file_path5)
tx_unemploy = pd.read_csv(file_path4)
merged=pd.merge(unemployment,tx_unemploy,on="DATE",how="inner")
merged=pd.merge(merged,cal_un_df,on="DATE",how="inner")
merged=pd.merge(merged,mi_un_df,on="DATE",how="inner")
merged=pd.merge(merged,inflation,on="DATE",how="inner")
merged=merged.rename(columns={"CORESTICKM159SFRBATL":"Nationwide Inflation Rate"})
merged=pd.merge(merged,interest_df,on="DATE",how="inner")
# merge = pd.merge(unemployment,inflation,on="DATE",how="outer")
# merge = pd.merge(merge,df,on="DATE",how="outer")

# merge = pd.merge(merge,inflate,on="DATE",how="outer")

merged

           DATE  UNRATE  TXUR  CAUR  MIUR  Nationwide Inflation Rate    DFF
0    1980-02-01     6.3   4.9   6.3  10.4                  13.627778  13.44
1    1980-03-01     6.3   5.1   6.5  11.2                  14.361386  16.33
2    1980-04-01     6.9   5.3   6.7  12.0                  14.786780  19.79
3    1980-05-01     7.5   5.4   6.9  12.7                  15.147256  14.07
4    1980-06-01     7.6   5.4   7.1  13.2                  15.810582  11.06
..          ...     ...   ...   ...   ...                        ...    ...
522  2023-08-01     3.8   4.1   4.6   3.7                   5.217343   5.33
523  2023-09-01     3.8   4.1   4.7   3.9                   5.008782   5.33
524  2023-10-01     3.8   4.1   4.8   4.1                   4.931956   5.33
525  2023-11-01     3.7   4.1   4.9   4.3                   4.730629   5.33
526  2023-12-01     3.7   4.0   5.1   4.3                   4.584186   5.33

[527 rows x 7 columns]

In [2]:
path_median_cpi = "MEDCPIM158SFRBCLE.csv"
median_cpi_df = pd.read_csv(path_median_cpi)
median_cpi_df= median_cpi_df.rename(columns={'MEDCPIM158SFRBCLE':"MEDIAN CPI"})
median_cpi_df

           DATE  MEDIAN CPI
0    1983-01-01    5.014653
1    1983-02-01    4.952545
2    1983-03-01    3.612261
3    1983-04-01    4.828054
4    1983-05-01    3.767326
..          ...         ...
487  2023-08-01    4.027318
488  2023-09-01    5.626580
489  2023-10-01    3.881948
490  2023-11-01    5.340107
491  2023-12-01    4.847548

[492 rows x 2 columns]

In [3]:
merged = pd.merge(merged,median_cpi_df,on="DATE",how="inner")
merged = merged.rename(columns={"DFF":"Federal Funds Rate"})
merged.head(50)

,DATE,UNRATE,TXUR,CAUR,MIUR,Nationwide Inflation Rate,Federal Funds Rate,MEDIAN CPI
0,1983-01-01,10.4,8.4,11.1,16.5,4.695598,11.20,5.014653
1,1983-02-01,10.4,8.5,11.0,16.3,4.627836,8.63,4.952545
2,1983-03-01,10.3,8.5,10.8,15.9,4.855813,8.65,3.612261
3,1983-04-01,10.2,8.5,10.5,15.5,4.456934,9.12,4.828054
4,1983-05-01,10.1,8.4,10.3,15.2,3.549624,8.84,3.767326
5,1983-06-01,10.1,8.3,10.0,14.8,2.843740,9.38,2.441298
6,1983-07-01,9.4,8.2,9.7,14.4,2.630755,9.31,3.697582
7,1983-08-01,9.5,8.0,9.4,13.9,2.553401,9.64,4.896990
8,1983-09-01,9.2,7.8,9.2,13.5,2.944005,9.61,4.837828
9,1983-10-01,8.8,7.6,8.9,13.0,3.093312,10.59,4.709707
10,1983-11-01,8.5,7.4,8.6,12.6,3.751794,9.45,4.882072
11,1983-12-01,8.3,7.1,8.4,12.2,4.465480,9.46,3.626766
12,1984-01-01,8.0,6.8,8.3,12.0,4.485763,9.92,4.852490
13,1984-02-01,7.8,6.6,8.1,11.7,4.524564,9.74,4.632377
14,1984-03-01,7.8,6.4,8.0,11.6,4.654158,9.73,3.923226
15,1984-04-01,7.7,6.2,7.9,11.4,4.646319,10.24,4.473754
16,1984-05-01,7.4,6.0,7.8,11.3,4.708074,11.04,3.397505
17,1984-06-01,7.2,5.9,7.7,11.2,4.787485,10.53,4.540476
18,1984-07-01,7.5,5.8,7.7,11.1,4.897093,10.85,4.709707
19,1984-08-01,7.5,5.8,7.6,11.1,5.032940,12.04,4.691308
20,1984-09-01,7.3,5.9,7.6,11.0,5.140612,11.64,4.476877
21,1984-10-01,7.4,6.0,7.5,10.9,5.103858,11.38,3.496534
22,1984-11-01,7.2,6.2,7.5,10.8,4.968987,10.26,2.608025
23,1984-12-01,7.3,6.3,7.4,10.7,5.052939,8.92,3.520314
24,1985-01-01,7.3,6.4,7.3,10.5,4.726710,8.74,3.074903
25,1985-02-01,7.2,6.6,7.3,10.4,4.871701,8.74,5.603398
26,1985-03-01,7.2,6.7,7.3,10.3,4.962072,8.74,4.714338
27,1985-04-01,7.3,6.8,7.3,10.3,4.754134,8.83,4.493616
28,1985-05-01,7.2,6.9,7.3,10.2,5.037121,8.83,3.307093
29,1985-06-01,7.4,7.1,7.3,10.2,5.056542,7.64,4.937369
30,1985-07-01,7.4,7.2,7.3,10.2,4.948295,8.12,2.431483
31,1985-08-01,7.1,7.2,7.2,10.1,4.945474,8.26,3.459636
32,1985-09-01,7.1,7.3,7.1,9.8,4.787165,7.80,3.449608
33,1985-10-01,7.1,7.3,7.0,9.6,4.891951,8.26,3.462854
34,1985-11-01,7.0,7.3,6.9,9.3,5.149995,8.32,5.392039
35,1985-12-01,7.0,7.5,6.9,9.1,5.030732,8.54,3.083170
36,1986-01-01,6.7,7.6,6.9,9.0,5.296961,13.46,4.423300
37,1986-02-01,7.2,7.9,6.9,9.1,5.124948,8.09,3.170191
38,1986-03-01,7.2,8.2,6.9,9.1,5.229854,7.95,4.386848
39,1986-04-01,7.1,8.5,6.9,9.2,5.370857,7.49,4.169624
40,1986-05-01,7.2,8.8,6.9,9.2,5.040742,7.13,2.242973
41,1986-06-01,7.2,8.9,6.8,9.1,5.042081,6.84,3.394288
42,1986-07-01,7.0,9.0,6.8,9.0,4.975291,6.97,4.019606
43,1986-08-01,6.9,9.1,6.7,8.9,4.838261,6.38,3.282864
44,1986-09-01,7.0,9.2,6.7,8.7,4.962973,5.77,4.001443
45,1986-10-01,7.0,9.3,6.6,8.6,4.897657,5.99,4.170621
46,1986-11-01,6.9,9.3,6.6,8.5,4.591248,5.93,4.605737
47,1986-12-01,6.6,9.2,6.5,8.5,4.645191,6.38,3.927453
48,1987-01-01,6.6,9.1,6.4,8.4,4.481798,14.35,5.358298
49,1987-02-01,6.6,9.0,6.3,8.4,4.440932,6.28,3.337758